* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .dashboard-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: blanchedalmond;
  }
  .sidebar {
    width: 250px;
    background: #333;
    color: white;
    padding: 20px;
    height: 100vh;
  }
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  .sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 0;
  }
  .content {
    flex: 1;
    padding: 20px;
    /* background: #f4f4f4; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .stats {
    display: flex;
    gap: 20px;
  }
  .card {
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    min-width: 150px;
  }